@media screen and  (min-width:320px) and (max-width:500px){

.container h2 {
  margin-top: 3em;
  text-align: center;
}
.main{
  margin-top: 2em;
}

.main form{
  width:300px;
  margin: auto;
}

.main label{
  line-height:2.5;
}


.container p {
  text-align: center;
}

.errors{
  color:rgba(254, 48, 62, 0.872);
  width:90%;
  margin: auto;
  text-align: center;

}

.errors li {
  list-style-type: none;
}

}