
.container h2 {
  margin-top: 3em;
  text-align: center;
}
.main{
  margin-top: 2em;
}

.main label{
  margin-left: 2.7em;
  line-height:2.5;
}


.container p {
  text-align: center;
}

.errors{
  color:rgba(254, 48, 62, 0.872);
  width:90%;

}

.errors li {
  list-style-type: none;
}