
@media screen and  (min-width:320px) and (max-width:500px){
    
    .UserMainInfo{
        width:100%;
        margin-top: 5em;
        padding: 0;
        background-color: #FAFAFA;

    }
    
    /*User Picture*/
    .UserMainInfo img{
        width:100%;
        margin: 0;
        padding: 0;
    }
    /*User Name*/
    .UserMainInfo h3{

        text-align: left;
        margin-left: 0.7em;
        font-weight: 400;
        font-size: 1.9em;
        margin-top: 0.4em;
        margin-bottom: 0;
    }

    /*User Status*/
    .UserMainInfo h6{
        margin-top: 0.4em;
        margin-left: 1.5em;
        font-size: 1em;
        color: #9B9B9B;
        font-weight: 400;
    }

    /*Online/offline*/
    .container svg circle {
        fill:rgb(29, 253, 111);
    }
    

    #status{

        height: 40px;
        margin: 0;
        display: flex;
    }

    
    #status p{
        color: black;
    }

      
    /*User text status*/

    #statusInput{
    
        border:none!important;
        background-color: #FAFAFA;
        font-size: 1em;
        margin-left:0.6em;
        color:#979494;
  
    }
  



    /*CONTACT INFO BLOCK - PHONE*/

    .ContactInfo{
        background-color: #ffffff;
        border-radius: 5px;
        width:96%;
        padding: 1em 0;
        margin: auto;
        margin-bottom:1em;
        position:relative;
    }


    .contactBtn{
        position: absolute;
        top:9%;
        left:75%;
        border: none;
        border-radius: 5px;
        padding: 10px;
        background-color: #638FFF;
        color: white;
        cursor: pointer;
    }

    .ContactInfo h3{
        text-align: left;
        margin-left: 0.7em;
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.9em;
    }
    .ContactInfo ul {

        width: 100%;
        margin: 0;
        padding: 0;
    }

    .ContactInfo ul li{
        list-style-type: none;
        padding-left: 1em;
        line-height: 2;
        display: flex;
        align-items: center;
        color: #2c2c2c;
    }

    .contactIcons{
        margin: 0;
        padding-right: 0.2em;
       color:#797979;
       font-size:2em;
    }

    .ContactInfo a{
        margin-top: 1em;
        margin-left: 1em;
        color: #638FFF;
        display: flex;
        align-items:center;
    }

    #contactIconsInfo{
        margin-right: 0.2em;
    }

    .ContactInfoExists span{
        cursor: pointer;
    }

    /*FRIENDS BLOCK - PHONE*/
    .Friends{
        margin-top: 2em;
        background-color: #ffffff;
        border-radius: 5px;
        width:96%;
        padding: 1em 0;
        margin: auto;
        margin-bottom: 1em;
    }

    .Friends h3{
        text-align: left;
        margin-left: 0.7em;
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.9em;
    }

    #FriendsContainer {

        padding: 0 0 0 1em;
        display: flex;
        align-items: center;
      
    }

    .SingleFriend{
        overflow-wrap: break-word;
        width:100px;
        margin-right: 1em;

    }

   .SingleFriend img{
        width:70px;
        margin: 0 auto;
        display: block;
        height: 70px;
        border-radius: 60px;
        object-fit: cover;
    }

    .SingleFriend p {
        display: block;
        margin: 0.5em auto 0;
        text-align: center;
    }

    /*if no friends*/

    .noFriends{
        text-align: center;
        color:#646464;
        font-size: 1.3em;
    }

    .noFriends button{
        width:160px;
        height: 50px;
        display: block;
        margin: 2em auto;
        border-radius: 5px;
        border:none;
        font-size: 0.8em;
    }


    /*PHOTOS BLOCK - PHONE*/

    .Photos{
        margin-top: 2em;
        background-color: #ffffff;
        border-radius: 5px;
        width:96%;
        padding: 1em 0;
        margin: auto;
        margin-bottom: 1em;
    }

    .Photos h3{
        text-align: left;
        margin-left: 0.7em;
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.9em;
    }

    .Photos div {
     display: flex;
     overflow: scroll;
    }

    .Photos div img:first-of-type{
        margin-left: 0.9em;
    }

    .Photos div img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 0.5em;
    }

    
    /*CREATE POST BLOCK - PHONE*/

    .CreatePost{
        margin-top: 2em;
        background-color: #ffffff;
        border-radius: 5px;
        width:96%;
        padding: 1em 0;
        margin: auto;
        margin-bottom: 1em;
    }

    .CreatePost h3{
        text-align: left;
        margin-left: 0.7em;
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.9em;
    }

    .CreatePost div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:92%;
        margin: auto;
    }

    .CreatePost input[type="text"]{

        background: #FFFFFF;
        border: none;
        box-shadow: 0px 1px 5px rgba(30, 28, 28, 0.363);
        border-radius: 10px;
        font-size: 1em;
        color:#232222b8;
        font-weight: 500;
        margin: 0;

    }

    .CreatePost input[type="text"]::placeholder{
        color: #A3A3A3;
    }

    /*POSTS WALL BLOCK - PHONE*/

    .postsWall{
        margin-top: 2em;
        background-color: #ffffff;
        border-radius: 5px;
        width:96%;
        padding: 1em 0;
        margin: auto;
        margin-bottom: 1em;

    }

    .postHeader{
        display: flex;
        align-items: center;
        margin-left: 1em;
    }

    .userThumbnailPic{
        width:42px;
        height: 42px;
        border-radius: 60px;
        object-fit: cover;
    }

    .post_UserData{
        display: block;
        margin-left: 1em;
    }

    .post_UserData h5{
        font-size: 1em;
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
        color: #232222d6;
    }

    .post_UserData p{
        margin: 0;
        color: #797979;
        font-size: 0.9em;
    }


    .postPicture img{
        width:90%;
        margin:auto;
        display: block;
        height: 90%;
        border-radius: 0.2em;
        object-fit: cover;
    }

    .postDescription p{
        margin-top: 1em;
        margin-left: 1.3em;
    }

    .postInteraction {
        display: flex;
        margin-top: 1em;
        margin-left: 1em;
    }

    .actionContainer{
        margin-right: 1em;
        background-color: #d9d2d273;
        padding: 5px 15px 2px 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .Likes{
      color: #f82860;
      margin-right: 0.1em;
    }

    .Comments{
        margin-right: 0.2em;
        color: #638FFF;
    }


}
